body {

    background-image: url(fondos/Ina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 0px;
}

table {

    background-color:cadetblue;

}

.card{
    background-color:cadetblue;

    margin: 70px;
}

.card-header {

    background-color:cadetblue;

}

.card {

    width: 85%;

}